header {
  padding-top: 5rem;
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  h1 {
    font-size: 6.4rem;
    color: #f9f5fd;
    text-shadow: 2px 2px rgb(27, 27, 27);
  }
  .input-container {
    width: 30%; // for development purpuose, adjust later
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .input {
    font-size: 1.8rem;
    padding: 0.8rem;
    border: none;
    outline: none;
    box-shadow: 2px 2px rgb(27, 27, 27);
  }
}
