.right {
  height: 100vh;
  width: 50%;

  .time {
    text-align: right;
    padding: 5rem 8rem;
    h2 {
      font-size: 6.4rem;
      color: #f9f5fd;
      text-shadow: 2px 2px rgb(27, 27, 27);
    }
  }
}
